.sliderbtn {
    border: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px;
    outline: 0px;
    opacity: 1;
    cursor: pointer;
    background-position: initial initial;
    background-repeat: initial initial;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.asd {
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


.cinzel {
    // font-family: $font-family2;
    font-weight: initial;
}

.cuerex-logo {
    max-height: 170px;
}

.brown {
    background-color: #efefef;
}

@mixin aspect-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: $height / $width * 100%;
    }

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
