.about {
    .top {
        background-size: cover;
        background-position: left;

        .ttop {
            @media only screen and (min-width: 800px) {
                @include aspect-ratio(16, 9);
            }
            > .content {
                display: flex;
                flex-direction: row;
            }
        }
    }

    h1 {
        color: rgba(38, 18, 11, 0.9);
        font-weight: 100;

        strong {
            font-weight: 800;
            color: #4f3220;
        }
    }

    .historia {
        background-color: rgba(119, 71, 53, 0.62);
        color: white;
    }
}
