.containerColectionM {
    background-color: #e4e3df;

    .bg-colectionm {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .logo {
        max-width: 200px;
    }

    a {
        color: #26120b;
        font-weight: 900;
    }
}
